* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/black.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    background-color: rgba(40, 169, 233, 0.541);
    box-shadow: 0px 0px 2px 4px cyan;
    border-radius: 10px;
}
main > h2,p {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color:rgba(19, 201, 19, 0.74);
}
main > p {
    opacity: 0.6;
}
.wrapper {
    width: 70vw;
    height: 60vh;
    background: rgb(129, 129, 226);
    display: flex;
    margin: 30px 0px;
    
}
.userBox, .computerBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
.userBox {
    border-right: 2px solid rgba(0, 0, 0, 0.513);
}
.userBox .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
}
.userBox .imgWrapper img:hover {
    border: 2px solid cyan;
}
.userBox .imgWrapper img:active {
    transform: scale(1.2);
    transition: all 0.6s ease;
}
.userBox .imageBox {
    width: 130px;
    height: 130px;
    border-radius: 20%;
    cursor: pointer;
    position: relative;
}
.userBox .imageBox:hover::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20%;
    color: rgb(133, 139, 139);
}
.userBox .stoneImg:hover::before{
    content: "Stone";
    background-image: url("images/stone.png");
}
.userBox .paperImg:hover::before{
    content: "Paper";
    background-image: url("images/paper.png");
}
.userBox .scissorImg:hover::before{
    content: "Scissor";
    background-image: url("images/scissor.png");
}

.imgWrapper {
    display: flex;
    width: 100%;
    background:rgb(203, 230, 233);
    justify-content: space-evenly;
    padding: 10px 0px 18px;
}

.wrapper .computerBox {
    width: 50%;
    height: 100%;
    background-color:rgb(138, 195, 200);
}
   
.userBox .userPick {
    width: 70%;
    height: 60%;
    background-color: rgb(138, 146, 146);
    
}

.computerPick img, .userPick img {
    width: 100%;
    height: 100%;
    display: block;
}
.computerBox .upperPart {
    width: 100%;
    height: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/stone-paper-scissor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.computerBox .upperPart::before {
    content: "";
    background: black;
    opacity: 0.8;
    width: 100%;
    position: absolute;
    height: 100%;
    font-size: 24px;
    color: wheat;
    
    
}
.upperPart h2 {
    color: rgba(255, 255, 255, 0.198);
    text-shadow: 1px 1px cyan;
    z-index: 3;
}
.computerBox .computerPick {
    background: rgb(155, 149, 138);
    width: 70%;
    height: 60%;
}
#resultBox {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-family: cursive;
    font-weight: bolder;
    color: rgb(2, 2, 22);
}

#userCard, #computerCard{
   display: none;
}